.card-container {
    text-align: start;
    width: 16rem;
    border-radius: 0;
}

.producto-nombre {
    font-size: 1rem;
}

.card-body-container {
    padding-top: 0;
    padding-left: 0;
}

.agregar-carrito-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
}

.product-card-info {
    max-height: 30%;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    padding-right: 0;
    padding-bottom: .5rem;
}

.agregar-button {
    background-color: #457a19;
    border: none;
    padding-top: .7rem;
    border-radius: 100%;
    transition: transform 0.09s;

    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.agregar-button:hover {
    background-color: #457a19;
    border: 1px solid #426f1eb9;
    transform: scale(1.03);
}

.carrito-icon {
    color: whitesmoke;
    height: 1.3rem;
}